body { background-color: #999; color: #000; }

ul, ul .panel_buttons {
 list-style-type: none;
}

h1.title{color: #f93;}

ul .panel_buttons {
	margin: .1em auto;
	height: 2em;
	width: 11em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration: none;}
a:visited { color: #666; }
a:hover { color: #fff; background-color:#f90; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#comic_title_error{
	color: red;
	display: none;
}

.workspace img{
	border:black solid 2px;
}

canvas{
	border: 2px solid #000; 
	padding:0;
	height: 200px;
	width:300px;
	float: right;
}

 .workspace_controllers {
	position: relative;	
	top: 0px;
	margin: 1em auto;
	height: 2em;
	width: 35em;
	padding-left:0;
}

.workspace{
	position: relative;
	top: 0px;
	height: 200px;
}

img.drag{
	cursor: move;
}

.inline_list li{
	display: inline;
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	list-style-type:none;
}


#canvas_text{
	display:none;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 2em;
	margin: 0;
	width: 10em;
	border-radius: 4px;
	border-top: #000 solid 0px;
	background-color: #fff;
	z-index: 100;
	color: #000;
	text-align: center; 
	line-height: 2em;
	cursor:move;
}

.inline_list li.panel {
	position: relative;
}

.inline_list li.panel span.text {
	display:block;
	width: 10em;
	position: absolute;
	top: 100px;
	z-index: 100;
	line-height: 2em;
	text-align: center;
	border: #000 solid 1px;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
	padding: 0;
}

.dialog{
	display:none;
}

#art_form{
	width: 100px;
}
.border{
	border: solid 2px #000;
}

.black_border{
	border: solid 1px #000;
}

button, .default_button, submit{
	 border: none;
	 padding: 5px 10px;
	 border-radius: 4px;
	 background: #ccc;
	 -webkit-box-shadow: inset 0 5px 10px #999, 0 1px 1px #999;
}

.workspace_controllers button, .workspace_controllers .default_button{
	font-size: .8em;
}
button:hover, .default_button:hover{
	background-color: #f93;
	-webkit-box-shadow: inset 0 5px 10px #c60, 0 1px 1px #c60;
}
button:focus, .default_button:focus {
  outline-width:0;
}

input:focus {
  outline-width:0;
}
.inline_list.index li{
	margin:0px;
}

.ui-widget { font-size: 1em; }

.main_container{
	width: 62em;
	height: 48em;
	margin: 0 auto;
	margin-top: 3em;
	background-color: #fff;
	padding:.5em 2em;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 5px #999, inset 0 10px 20px #999;
}

.clear{
	clear:both;
}

#modified_image_container{
	float:right;
	position:relative;
	width:300px;
	height: 200px;
}

.site_title a{
	color: #f93;
	font-size: 1em;
	text-shadow: 1px 1px 1px #c60;
}
.right_link{
	float:right;
}
.link{
	clear:both;
	font-size: .8em;
	cursor: pointer;
	padding-top: .1em;
	color:#f93;
	margin-left: 60em;
}

.faded{
	-webkit-opacity: .35;
	float: left;
}

.thumbnail_grid{
	position:relative;
	width: 300px;
	height: 200px;
	margin: 5px 5px;
	border: solid 1px #000;
}

 span.overlay_text{
	position:absolute;
	top: 95px;
	left: 120px;
	text-align: center;
	display:block;
	z-index: 1000;
	color: #000;
	text-shadow: 0 0 5px #fff;
}

a:hover span.overlay_text{
	color: #fff;
	text-shadow: 0 0 5px #000;
}

a:hover img.faded{
	background-color: #fff;
	-webkit-opacity: 1.0;	
}

.site_title a:hover, .link:hover{
	color:#c60;
	background-color: #fff;
}



