<p>
	Upload an image to add a panel to your comic.
</p>
<% form_for :panel, :url => comic_panels_path(@comic), :html => {:multipart => true, :id => "upload_photo_form" } do |f| %>
  <p>
		<%= f.hidden_field :comic_id, :value => @comic.id %>
  </p>
	<p>
		<%= f.file_field :original_image %>
  </p>
  <p>
    <%= f.submit 'Add Panel' , :class => "default_button" %>
  </p>
<% end %>