
	<div class="workspace">
		 <img src="" />
		<div id="modified_image_container">
			<canvas id="canvas"></canvas>
			<p id="canvas_text"></p> 
		</div>
	</div>

	<ul class="workspace_controllers inline_list">
	 <li><button class="posterize">Posterize</button></li>
	 <li><button class="colorize">Colorize</button></li>
	 <li><button class="charcoal">Black and White</button></li>
	 <li><button class="add_text">Add Text</button></li>
	 <li><button class="clear_canvas">Clear Canvas</button></li> 
	 <li><button class="save_panel">Save Panel</button></li>
	</ul>
