
	<div class="workspace">
		 <img src="" />
		<div id="modified_image_container">
			<canvas id="canvas"></canvas>
			<p id="canvas_text"></p> 
		</div>
	</div>

	<ul class="workspace_controllers inline_list">
	 <li><button class="pixelate">Pixelate</button></li>
	 <li><button class="zoom">Zoom</button></li>
	 <li><button class="delineate">Delineate</button></li>
	 <li><button class="add_text">Add Text</button></li>
	 <li><button class="clear_canvas">Clear Canvas</button></li> 
	 <li><button class="save_panel">Save Panel</button></li>
	</ul>
