<%= @comic.title %>

<%if @panels %>
  <ul class="inline_list sortable">
	  <%= render :partial=> "edit_panel", :collection => @panels %>
  </ul>
<% end %>

<button id="add_panel">Add Panel</button>
<div id="new_panel_dialog" title="Add a Panel" class="dialog">
<%= render :partial => "add_panel" %>
</div>

