<body>
<div class="main_container">
<h1><span class='site_title'><a href='http://itsallaboutalotofthings.com'>The Writing is on the Wall</a></span></h1>
    	<div id="artWindow">
			<img src="/images/man_eating_man.jpg" width='400px' height='265px' alt="Web Page" />
        	<div id="retina"></div>
    </div>
 <p id='commentary'>What is it about street art that's so exciting?<br /><span class='sm'>Mouse over image to see details up close...</span></p>
<p id="left">backward</p>
<p id="right">forward</p>    
</div>
</body>
</html>

