<body class="i told you so">
<div class="main_container">
<h1><span class='site_title'><a href='http://itsallaboutalotofthings.com'>The Writing is on the Wall</a></span></h1>
    	<div id="webpage">
			<img src="/images/man_eating_man.jpg" width='400px' height='265px' alt="Web Page" />
        	<div id="retina"></div>
    </div>
    
<div id="foo">hi jen</div>
	<p id='commentary'>What is it about street art that's so exciting?</p>
</div>
</body>
</html>

